<div *ngIf="productList" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button *ngIf="productList[0]" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button *ngIf="productList[1]" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button *ngIf="productList[2]" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div  class="carousel-inner">
    <div *ngIf="productList[0]" class="carousel-item active">
      <img src="{{ productList[0].image }}" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="...">
    </div>
    <div *ngIf="productList[1]" class="carousel-item">
      <img src="{{ productList[1].image }}" style="height: 500px; object-fit: cover;" class="d-block w-100" alt="...">
    </div>
    <div *ngIf="productList[2]" class="carousel-item">
      <img src="{{ productList[2].image }}" class="d-block w-100" alt="..." style="height: 500px; object-fit: cover;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>